<?xml version="1.0" encoding="UTF-8"?>
<plugin xmlns="http://apache.org/cordova/ns/plugins/1.0"
id="io.logit.cordova"
version="0.1.1">
    <engines>
        <engine name="cordova" version=">=3.0.0" />
    </engines>
    <name>Logit.io Plugin</name>
    <description>Cordova plugin to integrate with logit.io logging system</description>
    <keywords>cordova,phonegap,ios,android,logit,io,logging,error,tracking,debugging</keywords>
    <author>Dave Alden</author>
    <license>MIT License</license>
    <repo>https://github.com/logit-io/cordova-logitio.git</repo>
    <issue>https://github.com/logit-io/cordova-logitio/issues</issue>
    <js-module src="www/logit.js" name="Logit">
        <clobbers target="logit" />
    </js-module>
</plugin>
